---
import Layout from '../layouts/Layout.astro'


---

<Layout title="Checkout">
    <div class="w-full h-screen overflow-x-hidden flex flex-col items-center justify-center bg-black">
    <h1 class="text-3xl font-[FrutigerBlack] text-yellow-300 mb-4">Pagamento Pendente</h1>
    <p class="text-lg font-[FrutigerRegular] text-center max-w-md text-white">
      O pagamento ainda está em processamento. Você receberá um e-mail assim que for confirmado.
    </p>
    </div>
</Layout>
