---
import Layout from '../layouts/Layout.astro'


---

<Layout title="Checkout">
    <div class="w-full h-screen overflow-x-hidden flex flex-col items-center justify-center bg-black">
    <h1 class="text-3xl font-[FrutigerBlack] text-[#c9f711] mb-4">Pagamento Aprovado</h1>
    <p class="text-lg font-[FrutigerRegular] text-center max-w-md text-white">
      O pagamento aprovado! Você receberá um e-mail com detalhes do pedido em breve.
    </p>
    </div>
</Layout>

